body {
    background-color: #FAFAFA;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    align-items: flex-start;
}

.card {
    border: 1px solid black;
    border-radius: 0.25em;
    padding: 1rem;
    background-color: white;
}

h2, p {
    margin: 0;
}

h2 {
    margin-bottom: 1rem;
}

.card-group {
    --max-line: 4;
}

.cutoff-text-webkit {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-line);
}

.cutoff-text-native:has(+ .expend-button:not(:checked)) {
    --line-height: 1.2;
    overflow: hidden;
    line-height: var(--line-height);
    height: calc(var(--max-line) * 1em * var(--line-height));

    position: relative;
}

.cutoff-text-native:has(+ .expend-button:not(:checked))::before {
    content:"";
    width: 100%;
    height: calc(var(--line-height) * 2em);
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, white);
}

.expend-button {
    appearance: none;
    border: thin solid black;
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
}

.expend-button:hover {
    background-color: #AAA;
}

.expend-button::before {
    content: "expend";
}

.expend-button:checked::before {
    content: "collapse";
}